.container-full {
    width: 100%;
}

#banner {
	background-color:  	#0000FF;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 150%;
	margin-left: 10%;
}

#navigation {
	font-weight: bold;
	background-color: #ffffff;
	width: 100%;
}

#pills {
    height: 40%;
}

#loadedClassStats {
    display: block;
}

.btn-primary, btn-default {
    margin: 1px;
}

#accessCodeContent {
    text-align: center;
    margin-bottom: 5%;
}

footer {
    position:absolute;
    bottom:0;
	width: 100%;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #0000FF;
}